# Python virtual environments
env/
venv/
.venv/
ENV/

# Environment variables & Secrets (VERY IMPORTANT)
.env
*.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
postgres_data/

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
